.App {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  font-size: 25px;
  flex-direction: column;
}
.TitleSection {
  background-color: #5dbaff;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #fff;
}
.PokemonList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pokemonItem {
  border: 1px solid #eee;
  width: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.pokemonSprite {
  max-width: 100%;
}
.pokemonName {
  font-size: 14px;
  text-align: center;
}
.pokemonCP {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
