body {
  margin: 0;
}
body h1 {
  margin: 5px 0;
}
.App {
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  font-size: 25px;
  padding-top: 64px;
  min-height: 100vh;
  display: flex;
}
@media only screen and (max-width: 800px) {
  .App::before {
    content: "Tikai datorÄ :p";
  }
  .App div {
    display: none;
  }
}
.PokedexArea {
  display: flex;
  width: 100%;
}
.TitleSection {
  position: fixed;
  background-color: #5dbaff;
  width: 300px;
  text-align: center;
  padding: 10px 0 50px;
  color: #fff;
  height: 100vh;
  max-height: calc(100vh - 64px);
  overflow: scroll;
}
.listHead {
  display: flex;
  font-size: 16px;
  padding: 0 25px 0 23px;
}
.listHead div {
  padding: 0 5px;
  text-align: left;
}
.listHead div:first-child {
  flex-grow: 1;
}
li.TableRow {
  display: flex;
  padding: 0 5px;
}
.TableRow .drag {
  cursor: grab;
}
.activeRow {
  background: #c7dbec;
}
.rowHead {
  cursor: pointer;
  width: auto;
  flex-grow: 1;
}
.TitleSection .MuiTableCell-root {
  border-bottom: 1px solid rgb(224 224 224 / 50%);
}
.TitleSection th.MuiTableCell-sizeSmall {
  padding: 2px;
}
.TitleSection th.MuiTableCell-sizeSmall:first-child {
  padding-left: 10px;
}
.TitleSection td.MuiTableCell-sizeSmall {
  padding: 2px;
  text-align: center;
}
.MuiTableCell-sizeSmall .MuiCheckbox-root {
  padding: 0;
}
.DeleteIcon {
  cursor: pointer;
}
.PokemonFilters {
  border-top: 1px solid rgb(224 224 224 / 70%);
  padding-top: 10px;
}
.PokemonFilters > div {
  margin: 0 0.2em;
}
.CollectionForm {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  margin: 5px 0 20px;
}
.CollectionForm button {
  min-width: 40px;
}
.PokeTableLoading {
  margin-top: 20%;
}
.PokeTable {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  padding-left: 300px;
  padding-top: 5px;
  width: 100%;
}

td {
  padding: 0 10px;
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.DataImportExport {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid rgb(224 224 224 / 50%);
}
.DataImportExport > div {
  margin: 10px 0;
}
