body {
  margin: 0;
}
body h1 {
  margin: 5px 0;
}
.App {
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  font-size: 25px;
  padding-top: 64px;
  min-height: 100vh;
  display: flex;
}
.PokedexArea {
  display: flex;
  width: 100%;
}
.TitleSection {
  position: fixed;
  background-color: #5dbaff;
  width: 260px;
  text-align: center;
  padding: 10px 0 50px;
  color: #fff;
  height: 100vh;
  max-height: calc(100vh - 64px);
  overflow: scroll;
}
.PokemonSort {
  margin: 0 20px 0 auto;
}
.PokemonSort button {
  line-height: 1em;
  padding-left: 25px;
  color: rgb(255 255 255 / 80%);
  border-color: rgb(255 255 255 / 80%);
}
.sortingArrow {
  width: 20px;
}
.activeRow {
  background: #c7dbec;
}
.rowHead {
  cursor: pointer;
}
.TitleSection .MuiTableCell-root {
  border-bottom: 1px solid rgb(224 224 224 / 50%);
}
.TitleSection th.MuiTableCell-sizeSmall {
  padding: 2px;
}
.TitleSection th.MuiTableCell-sizeSmall:first-child {
  padding-left: 10px;
}
.TitleSection td.MuiTableCell-sizeSmall {
  padding: 2px;
  text-align: center;
}
.MuiTableCell-sizeSmall .MuiCheckbox-root {
  padding: 0;
}
.DeleteIcon {
  cursor: pointer;
}
.PokemonFilters {
  border-top: 1px solid rgb(224 224 224 / 70%);
  padding-top: 10px;
}
.PokemonFilters > div {
  margin: 0 0.2em;
}
.CollectionForm {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  margin: 5px 0 20px;
}
.CollectionForm button {
  min-width: 40px;
}
.PokeTableLoading {
  margin-top: 20%;
}
.PokeTable {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  padding-left: 260px;
}
.pokemonItem {
  border: 1px solid #ddd;
  width: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin: 0 -1px -1px 0;
}
.pokemonItem.selected {
  background: #c7dbec;
}
.pokemonID {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  font-size: 12px;
  padding: 1px 3px;
}
.pokemonGeneration {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  font-size: 12px;
  /* background: #ddd; */
  padding: 1px 3px;
  cursor: pointer;
}
.pokemonSpriteWrap {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5px;
}
.pokemonSprite {
  max-width: 100%;
  max-height: 100px;
}
.PokemonMeta {
  background: #eee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pokemonName {
  font-size: 15px;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  max-width: 100%;
  line-height: 0.9em;
  min-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pokemonName10 {
  font-size: 14px;
}
.pokemonName12 {
  font-size: 13px;
}
.pokemonName15 {
  font-size: 13px;
}
.pokemonCP {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 1em;
  background: #eee;
}
.pokemonData {
  text-align: center;
  font-size: 12px;
}

td {
  padding: 0 10px;
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
